@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial;
    list-style: none; text-decoration: none;
}

a{text-decoration: none; color: #fff;}

body{
    background: rgb(12, 12, 12);
}

.logo{font-size: 2rem;}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    color: #fff;
}

/* MENU STYLES */
.menu{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    align-items: center;
    top: -100%;
    background: rgb(36, 36, 36);
    padding: 0 50px;
}

.exit{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.menuBtn{
    cursor: pointer;
}

.nav-link{
    font-size: 4rem;
    transition: all .2s ease-in-out;
}

.nav-link:hover{
    color: rgb(68, 68, 68);
}

.numbers{
    font-size: 1.5rem;
}

.information{
    margin-bottom: 24px;
}

.title{
    color: rgb(133, 120, 104);
    font-size: 2rem;
    font-weight: 400;
}

.nav{
    margin-top: -20px;
    opacity: 0;
}

.background{
    z-index: -1;
    position: absolute;
    font-size: 14rem;
    color: rgba(255, 255, 255, 0.1);
}