body {
    background: #343434;
    color: white;
    font-family: "Nunito";
}

svg {
    position: absolute;
    z-index: 0;
    left: -55%;
    top: -8%;
    width: 150%;
}

.content {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 75%;
    position: relative;
    z-index: 1;

    h1 {
        font-size: 1.4em;
    }
}

.quote-container {
    display: flex;
    width: 100%;
    place-content: center;

    .avatar {
        width: 25px;
        height: 25px;
        background: gray;
        border-radius: 50%;
    }
    p {
        margin: 0.3em 0.5em;
        font-size: 0.9em;
    }
}

.cta {
    margin-top: 3em;
    display: inline-block;
    background: #00e472;
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    font-weight: bold;
}

@media screen and (min-width: 840px) {
    body {
        font-size: 22px;
        overflow-x: hidden;
    }
    .content {
        text-align: left;
        width: 80%;
        margin: 10em auto 0 auto;

        h1 {
            width: 50%;
        }
    }

    svg {
        left: unset;
        right: -5%;
        top: -8%;
        width: 1200px;
    }

    .quote-container {
        display: flex;
        place-content: unset;

        p {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1220px) {
    svg {
        position: absolute;
        z-index: 0;
        left: unset;
        right: -5%;
        top: -25%;
        overflow: hidden;
        width: 1600px;
    }
}
